body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f4f2ec;
    color: #dcdcdc;

}
h3{
    position: relative;
    font-size: 3rem;
}

h3::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background-color: #f16613;
    z-index: -1;
    transition: transform .3s ease;

}

h3:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

h3::before{
    transform: scaleX(0);
    transform-origin: bottom right;
    border-radius: 6px;

}